<div class="row" data-name='plan_users'>
  <div class="col-md-3">
    <div class="plan_users list">
      <h3>
        Family
      </h3>
      <ul class="well well-small nav nav-pills nav-stacked">
        <li ng-class="{active: selectedUserId=='summary'}" class="goal" data-id="summary" data-name="summary">
          <a href="#/family">
            <div class="name">Whole Family</div>
          </a>
        </li>

        <li ng-class="{active: selectedUserId == user.id}" class="plan_user" data-id="{{ user.id }}" data-name="{{ user.name }}" ng-repeat="user in plan.family.members">
          <a href="#/family/{{ user.id }}">
            <div class="nav_picture">
              <img ng-src="/assets/people/faces/{{ user.defaultRole }}.png">
            </div>
            <div class="name noresult">{{ user.name }}</div>
          </a>
        </li>

        <li><a class="light" href="#/family/spouse">Add Spouse</a></li>
        <li><a class="light" href="#/family/child">Add Child</a></li>
        <li><a class="light" href="#/family/future_child">Add Future Child</a></li>
      </ul>
    </div>
  </div>
  <div class="col-md-9 content_main">
    <ng-include src="familyViewUrl" onload="familyViewLoaded()"></ng-include>
  </div>
</div>
