<div class="goal_results">
  <h3><%= @manipulator.name%></h3>
  <div class="well">
    <div class="goal_status"></div>
    <div id="goal_results_chart"></div>
    <table class="table table-striped" id="progress_table">
      <thead>
        <th>Year</th>
        <th>Have</th>
        <th>Need</th>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>