$total_width: 1024px;

body {
  background: #ddd;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

#main_content {
  width: $total_width;
  margin: 0px auto;
  
  #header {
    background: #fff;
    margin-top:5px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    
    #logo {
      width: 200px;
      height: 50px;
      img {
        height: 92px;
      }
    }
    
    #navigation {
      > ul {
        padding-left: 225px;
        li {
          padding: 0px 10px;
        }
      }
    }
  } 

  #main_column {
    width: $total_width;
  }
}