.list {
  h3 {
    font-weight: bold;
    margin: 5px;
    a.expander {
      float:left;
      margin: 3px 10px;
    }
  }

  .nav_picture {
    display:inline-block;
    img { width: 30px; }
    vertical-align: middle;
  }
  .name {
    display: inline-block;
    vertical-align: middle;
  }

  .unused {
    a {
      color: #bbb;
    }
    .nav_picture {
      opacity:0.5
    }
  }
  .achieved {
    float: right;
    border: 1px solid #000;
    width: 25px;
    height: 25px;
    margin-top: 5px;
    text-align: center;
    &[data-success="true"] {
      background-color: green;
    }
    &[data-success="false"] {
      background-color: #A94442;
    }
    span {
      font-size: 18px;
      color: white;
      vertical-align:middle;
    }
  }

  /*ul {
    background: #eee;
    margin: 0px;
    padding: 0px;    
    .item.selected {
      background: #CCFFFF;
      margin-right: -1px;
      border-top-color: #003366;
      border-bottom-color: #003366;
    }
    .item.hover {
      background: #5CB8E6;
      border-color: #003366;
      cursor: pointer;
    }
    .item {
      border: 1px solid transparent;
      list-style-type: none;
      padding: 5px 10px;

      .picture {
        display:inline-block;
        img { width: 40px; }      
        vertical-align: middle;
      }
      .no_picture {
        display:inline-block;
        width: 40px;
      }
      .name {      
        font-size: 14pt;
        display:inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 155px;
        &.noresult {
          width: 175px;
        }
      }
    }
    .item.unused {
      color: #bbb;      
      .picture {
        opacity:0.5
      }
    }
  } */
}