.clearit:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#global_status {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  background: red;
  color: white;
  padding: 2px 7px;
}


#chart {
  width: 1000px;
  height: 300px;
  float: left;
}
#chart_controls {
  float:left;
  height:300px;
  position: relative;
  #xtype {
    position: absolute;
    bottom:5px;
    a {
      font-size: 75%;
    }
  }
}
 
.manipulator {
    .goal_status {
      span { display: inline-block; text-align: center;}
      text-align:center;
      padding:5px;
      color:green;
    }
}

#byyear_data {
  .col {
    .people {
      position: relative;            
    }
  }  
  .numbers,.achievements {
    overflow-y: auto;
    .entry {
      &.total {
        border-top:1px solid black;
        padding-top:5px;
        margin-top:25px !important;
      }
      .name {
        width:170px;
        float:left;
      }
      .amount {
        text-align: right;
      }
    }
    .entry.title:not(:first-child) {
      margin-top: 10px;
    }
    .entry.detail {
      color: #666;
      .name {
        margin-left: 10px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow:hidden;
      }
    }
  }
  
  > .title {
    text-align: center;
    h2 { margin: 10px 5px; }
    
  }  
  
}

//JQUERY OVERRIDES
.ui-tabs .ui-tabs-panel {
  padding: 0px;
}
