.clearit:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.sections {
  .section {
    width: 300px;
    float: left;
    padding: 5px;    
    height: 400px;
    margin: 10px 5px;
    h3 {
      text-align: center;
      text-decoration: underline;
      margin: 5px;
    }
  }
  .section:not(:last-child) {
    border-right: 1px solid #000;    
  }
}


#chart {
  width: 1000px;
  height: 300px;
  float: left;
}
#chart_controls {
  float:left;
  height:300px;
  position: relative;
  #xtype {
    position: absolute;
    bottom:5px;
    a {
      font-size: 75%;
    }
  }
}

.sections {
  .list ul {
    margin: 0px;
    padding: 0px;    
    .item.selected {
      background: #CCFFFF;
    }
    .item.hover {
      background: #5CB8E6;
      border-color: #003366;
      cursor: pointer;
    }
    .item {
      border: 1px solid transparent;
      list-style-type: none;
      padding: 5px 10px;

      .picture {
        display:inline-block;
        img { width: 40px; }      
        vertical-align: middle;
      }
      .name {      
        font-size: 16pt;
        display:inline-block;
      }
      .achieved {
        float: right;
        border: 1px solid #000;
        width: 25px;
        height: 25px;
        img {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}

#details {
  .section {    
    .people {
      position: relative;            
      img {
        position: absolute;
        width: 100px;
      }
    }
  }  
  .numbers,.achievements {
    overflow-y: auto;
    .entry {
      .name {
        width:170px;
        float:left;
      }
      .amount {
        text-align: right;
      }
    }
    .entry.title:not(:first-child) {
      margin-top: 10px;
    }
    .entry.detail {
      color: #666;
      .name {
        margin-left: 10px;
      }
    }
  }
  
  > .title {
    text-align: center;
    h2 { margin: 10px 5px; }
    
  }  
  
}

//JQUERY OVERRIDES
.ui-tabs .ui-tabs-panel {
  padding: 0px;
}