.portrait {
  background-image: url('/assets/people/frame.png');
  background-size: 100% auto;
  width: 200px; height: 495px;
  padding: 83px 17px 17px 17px;

  &#family_portrait {
    height: 375px;
    width: 330px;
    padding: 60px 17px 17px 17px;
    background-image: url('/assets/people/family_frame.png');
  }

}

#family_portrait {
  .person_wrapper {
    position: absolute;
    top: 0px;
    height: 300px;
    background: #fff;
  }
}



.person_drawing {
  position:relative;
  width: 165px;
  height: 400px;

  .body {
    height: 600px;
    > img {
      position: absolute;
      width: 100%;
    }
    .accessories {
      img {
        position: absolute;
      }
      .hat {
        width: 100%;
      }
      .hand {
        width: 50%;
        top: 300px
      }
    }
  }
  .details {
    margin-top: 10px;
    height: 50px;
    text-align: center;
    .name {

    }
    .age {
      font-size: 75%;
    }
  }

  &.small {
    width: 100px;
    .body {
      height: 240px;
    }
    .accessories {
      .hat {
        width: 100%;
      }
      .hand {
        width: 50%;
        top: 150px
      }
    }
  }
}