  #subnav {
    &.setup {
      padding-left: 235px;
    }
    &.results {
      padding-left: 310px;
    }
    width: 100%;
    background: #eee;
    padding: 5px 0px;
  }

  .content {
    margin-top: 20px;

    .content_left {
      float: left;
      width: 250px;
    }
    .content_title {
      margin-left: 20px;
    }

    .content_main.noleft {
      float: left;
      width: 1000px;
    }
  }


.content_main {
  h3 { margin: 5px; }

  .right-main {
    float:right;
    width:200px;
    padding: 0px 0px 0px 15px;
    .right-controls {
      margin-bottom: 10px;
      text-align: right;
    }
  }
  .left-main {
    width: 500px;
    float: left;
  }

}