#simulate_dialog {
  #simyear {
    #current_simulate_year {

    }
    #simulate_year_progress_wrapper {
      display:inline-block;
      width: 350px;
    }

  }
  
  #goal_progress {
    padding: 10px 0px;
    font-size: 140%;
    
  }
}