<div class="section goals" data-name='goals' style="display:none;">  
  <div id="subnav">
    <%= link_to 'Goals', '#', :"data-content" => 'goals' %>
  </div>
  <%= render :layout => 'content_layout_list', :locals => {:name => 'goals', :editable => true} do %>
  <% end %>  
</div>