<div id="simulate_dialog" title="Running Simulation" style="display:none">
  <h1>Calculating...</h1>
  
  <div id="simyear" class="clearit">    
    <div id="simulate_year_progress_wrapper">
      <div id="simulate_year_progress"></div>
    </div>
    <div id="current_simulate_year">2014</div>
  </div>  
  
  <div id="goal_progress">
    Goals <span>0 of 5</span>
  </div>
  
  <div class="close" style="display:none">
    <button>View Results &gt;&gt;</button>
  </div>
</div>