<div id="main_content">
  <div id="global_status"></div>
  <div id="header" class="page-header">
    <%= render :partial => 'header' %>
  </div>
  <div id="main_column">
    <div ng-view></div>
  </div>

</div>