<%= form_for(@template, :html => {}) do |f| %>

<div>Name: <%= f.text_field :name, :size => 20 %></div>
  
<div>Formula: <%= f.text_area :formula, :size => "60x10" %></div>

  <%= f.submit "Save" %>
<% end %>