<h3>
  Accounts
</h3>
<ul class="well well-small nav nav-pills nav-stacked">
  <% list.each do |acct|  %>
    <li class="account" data-id="<%=acct.id%>">
      <a href="#">
        <div class="name"><%= acct.name %></div>
      </a>
    </li>
  <% end %>
  
  <li class="account unused" data-id="new_account">
    <a href="#">
      <div class="name">Add Account</div>
    </a>
  </li>
<ul>